@model ProjectsViewModel
@inject IProjectService projectService
@inject IStatusService statusService

@{
    ViewData["Title"] = "Projects";

    var status = ViewBag.CurrentStatus as string;

    var allResponse = await projectService.GetProjectsAsync();
    
    var startedStatus = await statusService.GetStatusByNameAsync("Started");
    var startedResponse = await projectService.GetProjectsAsync(x => x.StatusId == startedStatus.Result!.Id);    

    var completedStatus = await statusService.GetStatusByNameAsync("Completed");
    var completedResponse = await projectService.GetProjectsAsync(x => x.StatusId == completedStatus.Result!.Id);

    var numberOfProjects = allResponse.Result!.Count();
    var numberOfStartedProjects = startedResponse.Result!.Count();
    var numberOfCompletedProjects = completedResponse.Result!.Count();
}

<header class="flex-sb">
    <h1 class="secondary-heading">@ViewData["Title"]</h1>
    <button class="btn btn-blue btn-add" data-type="modal" data-target="#create-project"><i class="fa-solid fa-plus"></i><span>Add Project</span></button>
</header>
<nav>
    <ul class="tab-links">
        <li><a class="tab-link @(status == null ? "active" : "")" href="?status=">ALL [@numberOfProjects]</a></li>
        <li><a class="tab-link @(status == "Started" ? "active" : "")" href="?status=Started">STARTED [@numberOfStartedProjects]</a></li>
        <li><a class="tab-link @(status == "Completed" ? "active" : "")" href="?status=Completed">COMPLETED [@numberOfCompletedProjects]</a></li>
    </ul>
</nav>
<section class="card-grid">
    @foreach (var project in Model.Projects)
    {
        @await Html.PartialAsync("Partials/Components/_ProjectCard", project)
    }
</section>
@await Html.PartialAsync("Partials/Components/_AddProjectModal", Model.AddProject)
@await Html.PartialAsync("Partials/Components/_EditProjectModal", Model.EditProject)

<script>
    window.showAddModal = @(Model.ShowAddModal.ToString().ToLower())
    window.showEditModal = @(Model.ShowEditModal.ToString().ToLower())

    if (window.location.pathname !== '/projects') {
        window.history.replaceState({}, '', '/projects');
    }
</script>

<partial name="_ValidationScripts">