@model Project
@inject IClientService clientService

@{
    var clientResponse = await clientService.GetClientByIdAsync(Model.ClientId);
    var clientName = clientResponse.Result!.ClientName;
}

<div class="card">
    <div class="card-header">
        <img src="~/images/project-logo.svg" alt="">
        <div class="card-heading">
            <h2 class="senary-heading">@Model.ProjectName</h2>
            <p>@clientName</p>
        </div>
        <button class="btn-icon btn-more" data-type="toggle" data-target="#t-@Model.Id"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
    </div>
    <p>@(Model.Description != null ? Model.Description : "Description")</p>
    <div class="card-footer">
        <p class="info-box" style="background-color: @(Model.EndDate == null ? "" : ((DateTime)Model.EndDate < DateTime.Now ? "var(--red-25)" : "var(--red-10)"));">
            <i class="fa-solid fa-clock" style="color: @(Model.EndDate == null ? "" : ((DateTime)Model.EndDate < DateTime.Now ? "var(--red)" : "var(--red)"));"></i><span style="color: @(Model.EndDate == null ? "" : ((DateTime)Model.EndDate < DateTime.Now ? "var(--red-dark)" : "var(--red-dark)"));">@(Model.EndDate == null ? "No due date" : ((DateTime)Model.EndDate < DateTime.Now ? "Overdue" : $"{((DateTime)Model.EndDate - DateTime.Now).Days} days left"))</span>
        </p>
        <img src="~/images/avatar-small-2.svg" alt="">
    </div>
    <div id="t-@Model.Id" class="card-dropdown dropdown hidden">
        <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
        <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
        <div class="divider-full"></div>
        <form asp-action="DeleteProject" asp-controller="Projects" method="post" novalidate>
            <button class="dropdown-option text-red" type="submit" name="id" value="@Model.Id"><i class="fa-solid fa-trash"></i>Delete Project</button>
        </form>
    </div>
</div>